/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/**
 *  Un fichier css dans lequel il y'a tout le code CSS associe au projet 
 * L'ajout des Images en arriere-plan et des Images dans itemsview afficher au moment de l'affichage de la fenetre 
  
 */
#root {
    
    -fx-background-image: url("/images/back_ground.jpg");
    -fx-background-size:cover;
   
}
#rootOption{
	 -fx-background-image: url("/images/back_groundOption.jpg");
	
     -fx-background-size:cover;
	
}

#rootJeu,#rootJeuIA{
	 -fx-background-image: url("/images/back_ground3.jpg");
	
     -fx-background-size:cover;
	
}
#rootNoms{
	 -fx-background-image: url("/images/back_groundOption.jpg");
     -fx-background-size:cover;
	
}
#rootRegles,#rootModeles{
	-fx-background-image: url("/images/back_groundOption.jpg");
     -fx-background-size:cover;
	
}
#rootExit{
	-fx-image: url("/images/back_groundOption.jpg");
     -fx-size:cover;
	
}
#ImageRegles{
	-fx-image: url("/images/Regles.jpg");
     -fx-size:cover;
	
}
#ImageVs{
	-fx-image: url("/images/Vs.png");
    -fx-size:cover;
	
}

#ImageJoueur1{
	-fx-image: url("/images/bonHommeRouge.png");
    -fx-size:cover;
   
	
}
#ImageJoueur2{
	-fx-image: url("/images/bonHommeVert.png");
    -fx-size:cover;
	
}
#labelCircle{
	-fx-color:red;
	
}
#ImageMachine{
	-fx-image: url("/images/machine.jpg");
    -fx-size:cover;
	
}


.button{
	
	-fx-background-color: black;
	
	}
	